{% sw_extends '@Storefront/storefront/page/product-detail/tabs.html.twig' %}
 {% block page_product_detail_tabs_navigation_description %}
     {{ parent() }}
     {% block page_product_detail_tabs_navigation_downloads %}
         <li class="nav-item">
             <a class="nav-link product-detail-tab-navigation-link"
                id="download-tab"
                data-toggle="tab"
                data-offcanvas-tabs="true"
                href="#downloads-tab-pane"
                role="tab"
                aria-controls="review-tab-pane"
                aria-selected="true">
                 {{ "detail.downloads"|trans|sw_sanitize }}
                 <span class="product-detail-tab-navigation-icon">
                                            {% sw_icon 'arrow-medium-right' style {'pack':'solid'} %}
                                        </span>
             </a>
         </li>
     {% endblock %}
 {% endblock %}

 {% block page_product_detail_tabs_content_description %}
     {{ parent() }}

     {% block page_product_detail_tabs_content_downloads %}
         <div class="tab-pane fade show"
              id="downloads-tab-pane"
              role="tabpanel"
              aria-labelledby="downloads-tab">
             Hello World
         </div>
     {% endblock %}
 {% endblock %}
